GridBackground {
	--grid-background-color: #282828;
	--line-color: #303030;
	--thick-line-color: #502525;
	--spacing: 10;
}

NodeGraphNode {
	flex-grow: 1;
}

Port {
	flex-grow: 1;
}

TextField {
	width: 200px;
    flex-grow: 1;
    white-space: normal;
}